@{
    Layout = null;
}

@model LoginModel

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bookstore Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>

@*Modified the look of the admin page. Added a picture. Centered. better looking.*@ 
<body>
    <div class="row">
        <div class="col">
            <div class="bg-primary text-white p-2">
                <span class="navbar-brand m-1-2"> Bookstore</span>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <img width="150px" src="~/img/admin.png" />
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h3>Admin Login</h3>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>


                        <div class="m-1 p-1">

                            <div class="text-danger" asp-validation-summary="All"> </div>

                            <form method="post" asp-controller="Account" asp-action="Login">

                                <div class="form-group">
                                    <label asp-for="Username">User Name: </label>
                                    <input asp-for="Username" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password">Password: </label>
                                    <input asp-for="Password" class="form-control" type="password" />
                                </div>

                                <button class="btn btn-primary" type="submit">Log In</button>

                                <input type="hidden" asp-for="ReturnUrl" />

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>